@model Annuaire.Models.Root

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ramdom">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@Model.results[0].name.last class="control-label"></label>
                <input asp-for=@Model.results[0].name.last class="form-control" />
                <span asp-validation-for=@Model.results[0].name.last class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].name.first class="control-label"></label>
                <input asp-for=@Model.results[0].name.first class="form-control" />
                <span asp-validation-for=@Model.results[0].name.first class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].registered.date class="control-label"></label>
                <input asp-for=@Model.results[0].registered.date  class="form-control" />
                <span asp-validation-for=@Model.results[0].registered.date class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].phone class="control-label"></label>
                <input asp-for=@Model.results[0].phone  class="form-control" />
                <span asp-validation-for=@Model.results[0].phone class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].registered.service class="control-label"></label>
                <input asp-for=@Model.results[0].registered.service  class="form-control" />
                <span asp-validation-for=@Model.results[0].registered.service class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
