@model Annuaire.Models.Personne
@{
    ViewData["Title"] = "Ramdom";
}
<h1>Ramdom</h1>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ramdom">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Model.Results[0].Name.Last
            </div>
            <div class="form-group">
                @Model.Results[0].Name.First
            </div>
            <div class="form-group">
                @Model.Results[0].Registered.Date
            </div>
            <div class="form-group">
                @Model.Results[0].Phone
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
