@model Annuaire.Models.Root
@{
    ViewBag.Title = "Ramdom";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "C:\Users\Renouf-Pc\Desktop\Annuaire\Annuaire\Controllers\PersonneController/Ramdom", // Controller/View
                    data: { //Passing data
                        last: $("#txtlast").val(), //Reading text box values using Jquery
                        first: $("#txtfirst").val(),
                        date: $("#txtdate").val(),
                        phone: $("#txtphone").val(),
                        service: $("txtservice").val()
                    }

                });

        });
    });

</script>
<br />
<br />
<fieldset>
    <div class="form-horizontal">
        <div class="editor-label">
            Last
        </div>
        <div class="editor-label">
            <input asp-for=@Model.results[0].name.last type="text" id="txtlast" />
        </div>

        <div class="editor-label">
            first
        </div>
        <div class="editor-label">
            <input asp-for=@Model.results[0].name.first type="text" id="txtfirst" />
        </div>

        <div class="editor-label">
            date
        </div>
        <div class="editor-label">
            <input asp-for=@Model.results[0].registered.date type="text" id="txtdate" />
        </div>

        <div class="editor-label">
            phone
        </div>
        <div class="editor-label">
            <input asp-for=@Model.results[0].phone type="text" id="txtphone" />
        </div>
        <div class="editor-label">
            <br />
            <input class="btn-default" type="button" id="btnSave" value="Save" />
        </div>
    </div>
</fieldset>




<!--

<h1>Create</h1>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ramdom">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@Model.results[0].name.last class="control-label"></label>
                <input asp-for=@Model.results[0].name.last class="form-control" />
                <span asp-validation-for=@Model.results[0].name.last class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].name.first class="control-label"></label>
                <input asp-for=@Model.results[0].name.first class="form-control" />
                <span asp-validation-for=@Model.results[0].name.first class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].registered.date class="control-label"></label>
                <input asp-for=@Model.results[0].registered.date class="form-control" />
                <span asp-validation-for=@Model.results[0].registered.date class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].phone class="control-label"></label>
                <input asp-for=@Model.results[0].phone class="form-control" />
                <span asp-validation-for=@Model.results[0].phone class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.results[0].registered.service class="control-label"></label>
                <input asp-for=@Model.results[0].registered.service class="form-control" />
                <span asp-validation-for=@Model.results[0].registered.service class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
